@charset "UTF-8";
/*=================================
Fonts
=================================*/

/*=================================
Base styles
=================================*/
a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.container-padded {
}

/*=================================
Special classes
=================================*/
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ol-block {
  outline: 2px solid tomato;
}

.bg-block {
  background-color: rgba(255, 99, 71, 0.4);
}

.ol-element {
  outline: 1px dashed seagreen;
}

.bg-element {
  background-color: rgba(46, 139, 87, 0.2);
}

/*=================================
Animation styles
=================================*/

/*=================================
Grid styles
=================================*/

/*=================================
Decor&Typography styles
=================================*/
/*
для стилизации svg встроенного тегом object:
- встроить путь до стилевого файла в файл svg
    <?xml-stylesheet type="text/css" href="../path/to/your.css"?>;
- добавить в элемент "svg" и "path" svg-файла, классы
<svg class="logo-svg" ...>
<path class="logo-svg__path".../>
- стилизовать svg по классу в файле указаном выше
*/

.page-header__logo {
  width: 294px;
  height: 71px;
}

.logo-svg__path {
  fill: #9aa5a9;
}

.logo-svg:hover .logo-svg__path {
  fill: green;
}

.header-logo--fallback {
  width: 294px;
  height: 71px;
  background-image: url("../img/logo.png");
}
