@charset "UTF-8";

/*
Описание состояний интерактивных элементов
hover
active
focus
visited
disable
...
 */

/*=================================
Fonts
=================================*/
@font-face {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/HKGrotesk-Light.woff2") format("woff2"),
    url("../fonts/HKGrotesk-Light.woff") format("woff");
}

@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/leaguespartan-bold.woff2") format("woff2"),
    url("../fonts/leaguespartan-bold.woff") format("woff");
}

/*=================================
Primary styles
=================================*/
* {
  box-sizing: border-box;
}

body {
  font-family: "HK Grotesk", "Arial", sans-serif;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  background-color: #212c44;
}

a {
  text-decoration: none;
}

.page-container {
  max-width: 1160px;
  margin: 0 auto;
}

.page-content__list,
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  display: block;
  max-width: 120px;
  padding: 15px 15px 10px;
  text-align: center;
  color: #ffffff;
  font-family: "League Spartan", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  border: 3px solid #eec9a2;
}

.btn:hover {
  color: tomato;
}

.goods-promo__btn {
  max-width: 160px;
  padding: 12px 15px 12px;
  font-family: "HK Grotesk", "Arial", sans-serif;
  font-size: 0.75em;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
}

/*=================================
Special classes
=================================*/
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ol-block--1 {
  outline: 2px solid tomato;
}

.ol-block--2 {
  outline: 2px solid green;
}

.ol-block--3 {
  outline: 2px solid darkmagenta;
}

.bg-block {
  background-color: rgba(255, 99, 71, 0.4);
}

.ol-element {
  outline: 1px dashed seagreen;
}

.bg-element {
  background-color: rgba(46, 139, 87, 0.2);
}

/*=================================
Main styles
=================================*/
/* header styles */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 188px;
  padding-top: 10px;
  background-color: transparent;
}

.page-header__logo {
  width: 294px;
  height: 71px;
}

.logo-svg__path {
  fill: #9aa5a9;
}

.logo-svg:hover .logo-svg__path {
  fill: tomato;
}

.page-header__logo-fallback {
  width: 294px;
  height: 71px;
  background-image: url("../img/logo.png");
}

.page-header__search-form {
  position: relative;
  width: 176px;
}

.page-header__search-field {
  width: 100%;
  padding: 0;
  padding-left: 31px;
  border: 0;
  color: #92a1a9;
  font-family: "HK Grotesk", "Arial", sans-serif;
  font-size: 1.333333333333333em;
  font-weight: 300;
  line-height: 1.2;
  border-bottom: 3px solid #63757e;
  background-color: transparent;
}

.page-header__search-field::placeholder,
.form-subscribe__email::placeholder {
  color: #92a1a9;
}

.page-header__search-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 21px;
  height: 22px;
  padding: 0;
  border: 0;
  background-image: url("../img/search_icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 21px 22px;
  background-color: transparent;
}

/* content styles */
.page-content {
  background-color: transparent;
}

.page-content__promo {
  width: 100%;
  min-height: 690px;
  margin-bottom: 40px;
  padding: 1.875em;
}

.goods-promo {
  position: relative;
  color: #ffffff;
  font-family: "HK Grotesk", "Arial", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.45;
  background-image: url("../img/gina_product.jpg");
  background-color: #8d979d;
  z-index: 1;
}

.goods-promo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 112px;
  height: 115px;
  background-image: url("../img/promo_sticker.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 112px 115px;
}

.goods-promo__image {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.page-content__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-content__main {
  margin-bottom: 40px;
  color: #ffffff;
  font-family: "HK Grotesk", "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.main-item {
  width: 560px;
  min-height: 520px;
  padding: 30px;
}

.main-item__btn {
  font-size: 0.75em;
}

.page-content__item-1 {
  background-image: url("../img/beoplay_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 560px 520px;
  background-color: #5eb8a5;
}

.page-content__item-2 {
  background-image: url("../img/leica_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 560px 520px;
  background-color: #7778c6;
}

.page-content__back {
  color: #ffffff;
  font-family: "HK Grotesk", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
}

.back-item {
  width: 360px;
  min-height: 440px;
  padding: 35px;
}

.back-item__btn {
  font-size: 1.125em;
}

.page-content__item-3 {
  background-image: url("../img/molecule_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 360px 440px;
  background-color: #e97864;
}

.page-content__item-4 {
  background-image: url("../img/signature_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 360px 440px;
  background-color: #537683;
}

.page-content__item-5 {
  background-image: url("../img/dr2_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 360px 440px;
  background-color: #82c9d8;
}

.goods-promo__head,
.main-item__head,
.back-item__head {
  font-family: "League Spartan", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.12;
  text-transform: uppercase;
}

.goods-promo__head {
  font-size: 2.5em;
}

.main-item__head {
  font-size: 2em;
}

.back-item__head {
  font-size: 2.25em;
}

/* footer styles */
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.666666666666667em;
  color: #92a1a9;
  background-color: transparent;
}

.page-footer__subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__title {
  font-family: "HK Grotesk", "Arial", sans-serif;
  font-size: 2em;
  font-weight: 300;
}

.page-footer__text {
  color: #7f919b;
}

.form-subscribe__email {
  width: 360px;
  padding: 20px 15px 15px;
  text-align: center;
  color: #92a1a9;
  font-family: "HK Grotesk", "Arial", sans-serif;
  font-size: 1.333333333333333em;
  font-weight: 300;
  line-height: 1.2;
  background-color: #272f45;
  border: 3px solid #63757e;
}

.form-subscribe__submit {
  display: block;
  width: 360px;
  padding: 20px 15px 15px;
  color: #ffffff;
  font-family: "League Spartan", "Arial", sans-serif;
  font-size: 1.333333333333333em;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  background-color: #272f45;
  border: 3px solid #82c9d8;
}

.navigation__list {
  display: flex;
}

.navigation__link {
  color: #92a1a9;
  font-family: "HK Grotesk", "Arial", sans-serif;
  font-size: 1.333333333333333em;
  font-weight: 300;
}

.page-footer__copyright-text {
  color: #7f919b;
}

@media (max-width: 70em) {
  .page-header {
    justify-content: space-around;
    align-items: center;
  }

  .page-content__promo,
  .page-content__main {
    margin: 0;
  }

  .main-item {
    flex-grow: 1;
  }

  .back-item {
    flex-grow: 1;
  }
}

@media (max-width: 31.25em) {
  .page-header {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}


