@charset "UTF-8";

/*=================================
Fonts
=================================*/
@font-face {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/HKGrotesk-Light.woff2") format("woff2"),
    url("../fonts/HKGrotesk-Light.woff") format("woff");
}

@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/leaguespartan-bold.woff2") format("woff2"),
    url("../fonts/leaguespartan-bold.woff") format("woff");
}

/*=================================
Base styles
=================================*/
body {
  font-family: "HK Grotesk", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  background-color: #212c44;
}

a {
  text-decoration: none;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.page-content__list,
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  color: #ffffff;
  text-transform: uppercase;
}

.btn:hover {
  color: #92a1a9;
}

/*=================================
Special classes
=================================*/
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ol-block--1 {
  outline: 2px solid tomato;
}

.ol-block--2 {
  outline: 2px solid green;
}

.ol-block--3 {
  outline: 2px solid darkmagenta;
}

.bg-block {
  background-color: rgba(255, 99, 71, 0.4);
}

.ol-element {
  outline: 1px dashed seagreen;
}

.bg-element {
  background-color: rgba(46, 139, 87, 0.2);
}

/*=================================
Animation styles
=================================*/

/*=================================
Grid styles
=================================*/

/*=================================
Decor&Typography styles
=================================*/
/* header styles */
.page-header {
  background-color: transparent;
}

.page-header__logo {
  width: 294px;
  height: 71px;
}

.logo-svg__path {
  fill: #9aa5a9;
}

.logo-svg:hover .logo-svg__path {
  fill: tomato;
}

.header-logo--fallback {
  width: 294px;
  height: 71px;
  background-image: url("../img/logo.png");
}

.page-header__search-form {
  position: relative;
  box-sizing: border-box;
  width: 176px;
}

.page-header__search-field {
  width: 100%;
  padding: 0;
  padding-left: 31px;
  color: #92a1a9;
  border: 0;
  border-bottom: 3px solid #63757e;
  background-color: transparent;
}

.page-header__search-field::placeholder {
  color: #92a1a9;
}

.page-header__search-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 21px;
  height: 22px;
  padding: 0;
  border: 0;
  background-image: url("../img/search_icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 21px 22px;
  background-color: transparent;
}

/* content styles */
.page-content {
  background-color: transparent;
}

.goods-promo {
  position: relative;
}

.goods-promo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 112px;
  height: 115px;
  background-image: url("../img/promo_sticker.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 112px 115px;
}

.main-item {
  width: 560px;
  min-height: 520px;
}

.page-content__item-1 {
  background-image: url("../img/beoplay_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 560px 520px;
}

.page-content__item-2 {
  background-image: url("../img/leica_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 560px 520px;
}

.back-item {
  width: 360px;
  min-height: 440px;
}

.page-content__item-3 {
  background-image: url("../img/molecule_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 360px 440px;
}

.page-content__item-4 {
  background-image: url("../img/signature_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 360px 440px;
}

.page-content__item-5 {
  background-image: url("../img/dr2_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 360px 440px;
}

/* footer styles */
.page-footer {
  color: #92a1a9;
  background-color: transparent;
}

.page-footer__text {
  color: #7f919b;
}

.navigation__link {
  color: #92a1a9;
}
